@{
    ViewBag.Title = "Home Page";
}

		
<aside id="colorlib-hero">
    <div class="flexslider">
        <ul class="slides">
            <li style="background-image: url(../../Content/images/flexSliderImg2.jpg);">
                <div class="overlay"></div>
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-sm-6 offset-sm-3 text-center slider-text">
                            <div class="slider-text-inner">
                                <div class="desc">
                                    <img class="head-1" src="~/Content/images/TheLuminaryLogo.png" width="200" height="200"/>
                                    <h2 class="head-2">Based in</h2>
                                    <h2 class="head-3">Los Angeles</h2>
                                    <p class="category"><span>Grand Opening</span></p>
                                    <p><a href="@Url.Action("Index","Jeweleries")" class="btn btn-primary">Shop Collection</a></p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </li>
            <li style="background-image: url(../../Content/images/mosaic2.jpg);">
                <div class="overlay"></div>
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-sm-6 offset-sm-3 text-center slider-text">
                            <div class="slider-text-inner">
                                <div class="desc">
                                    <h1 class="head-1">Spring</h1>
                                    <h2 class="head-2">2021</h2>
                                    <h2 class="head-3">Collection</h2>
                                    <p class="category"><span></span></p>
                                    <p><a href="@Url.Action("Index","Jeweleries")" class="btn btn-primary">Shop Collection</a></p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </li>
            <li style="background-image: url('../../Content/images/flexSliderImg (1).jpg');">
                <div class="overlay"></div>
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-sm-6 offset-sm-3 text-center slider-text">
                            <div class="slider-text-inner">
                                <div class="desc">
                                    <h1 class="head-1">Styles</h1>
                                    <h2 class="head-2">For</h2>
                                    <h2 class="head-3">Every <strong class="font-weight-bold">Season</strong></h2>
                                    <p class="category"><span></span></p>
                                    <p><a href="@Url.Action("Index","Jeweleries")" class="btn btn-primary">Shop Collection</a></p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </li>
        </ul>
    </div>
</aside>
<div class="container" id="home">
    <div class="row" id="welcomeContainer">
        <div class="col-12 text-center" id="welcome">
           

            <h2>Welcome to The Luminary Body Jewelery</h2>
            <p>Bringing to you various selections of alternative styles in quality and unique materials. Step outside the conventional, allow yourself to stand out, and ride your wave. Take charge of your look. </p>
            <p>With trusted suppliers we have curated a collection for you year round. Always check back and lean on us for the trending styles. </p>

        </div>
    </div>
</div>
<div class="colorlib-featured">
    <div class="container">
        <div class="row">
            <div class="col-sm-4 text-center">
                <div class="featured">
                    <div class="featured-img featured-img-2" style="background-image:url('../../Content/images/ourahalfmoonplugs1.jpg') ;">
                        <h2>Plugs</h2>
                        <p><a href="@Url.Action("Index","Jeweleries")" class="btn btn-primary btn-lg">Shop now</a></p>
                    </div>
                </div>
            </div>
            <div class="col-sm-4 text-center">
                <div class="featured">
                    <div class="featured-img featured-img-2" style="background-image:url('../../Content/images/SkullHangerGold1.jpg') ;">
                        <h2>Hangers</h2>
                        <p><a href="@Url.Action("Index","Jeweleries")" class="btn btn-primary btn-lg">Shop now</a></p>
                    </div>
                </div>
            </div>
            <div class="col-sm-4 text-center">
                <div class="featured">
                    <div class="featured-img featured-img-2" style="background-image: url('../../Content/images/LuminarySeptumClicker1.jpg');">
                        <h2>Clickers</h2>
                        <p><a href="@Url.Action("Index","Jeweleries")" class="btn btn-primary btn-lg">Shop now</a></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


@*<div class="container" id="home">
    <div class="row">

        <div class="col-12" id="home">

            <ul class="gallery-slideshow ">
                <li>
                    <img src="~/Content/images/item-3.jpg" />
                </li>

                <li>
                    <img src="~/Content/images/item-2.jpg" />
                </li>

                <li>
                    <img src="~/Content/images/item-5.jpg" />
                </li>

                <li>
                    <img src="~/Content/images/item-8.jpg" />
                </li>

                <li>
                    <img src="~/Content/images/item-9.jpg" />
                </li>

                <li>
                    <img src="~/Content/images/item-11.jpg" />
                </li>
            </ul>
        </div>


    </div>
</div>*@





@section scripts {
    <script>
        $(function () {
            $('.gallery-slideshow').slideshow({
                // default: 2000
                interval: 7000,
                // default: 500
                width: 499,
                // default: 350
                height: 499

            });
        });
    </script>


}
